---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 70c296b25df12a46eb8cc15900038307
      Location:
      - "/api/v2/addresses/adr_d108ba7596d0438a874a021dfef0b587"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-201912110024-ba60ce4675-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1sj 2744487620
      - intlb2sj 3513b36095
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_d108ba7596d0438a874a021dfef0b587","object":"Address","created_at":"2019-12-11T17:41:26Z","updated_at":"2019-12-11T17:41:26Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 11 Dec 2019 17:41:26 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 70c296b25df12a47eb8cc17200038337
      Location:
      - "/api/v2/parcels/prcl_12997d6194d44b9faa4821332cd976c2"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-201912110024-ba60ce4675-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 2744487620
      - intlb2sj 3513b36095
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_12997d6194d44b9faa4821332cd976c2","object":"Parcel","created_at":"2019-12-11T17:41:27Z","updated_at":"2019-12-11T17:41:27Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 11 Dec 2019 17:41:27 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_d108ba7596d0438a874a021dfef0b587&shipment[from_address][id]=adr_e52669fb433b47c6bb69aa31935f39a9&shipment[parcel][id]=prcl_12997d6194d44b9faa4821332cd976c2
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 1164f4025df12a48eb8cc1730005c7a6
      Location:
      - "/api/v2/shipments/shp_ec08bb151b1e4b88acba16ffca7d4bd9"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-201912110024-ba60ce4675-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 2744487620
      - intlb2sj 3513b36095
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-12-11T17:41:28Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-12-11T17:41:28Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e52669fb433b47c6bb69aa31935f39a9","object":"Address","created_at":"2019-12-11T17:41:27Z","updated_at":"2019-12-11T17:41:27Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_12997d6194d44b9faa4821332cd976c2","object":"Parcel","created_at":"2019-12-11T17:41:27Z","updated_at":"2019-12-11T17:41:27Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_3c45fc69cc904b9090697739770c1eaf","object":"Rate","created_at":"2019-12-11T17:41:28Z","updated_at":"2019-12-11T17:41:28Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.74","currency":"USD","retail_rate":"25.60","retail_currency":"USD","list_rate":"22.74","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_ec08bb151b1e4b88acba16ffca7d4bd9","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_64b4929886a8497c98fbfb478df80b24","object":"Rate","created_at":"2019-12-11T17:41:28Z","updated_at":"2019-12-11T17:41:28Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"7.35","retail_currency":"USD","list_rate":"6.95","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_ec08bb151b1e4b88acba16ffca7d4bd9","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_a0341acba0df4efba26832e746a0d41e","object":"Rate","created_at":"2019-12-11T17:41:28Z","updated_at":"2019-12-11T17:41:28Z","mode":"test","service":"First","carrier":"USPS","rate":"3.82","currency":"USD","retail_rate":"5.19","retail_currency":"USD","list_rate":"3.82","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ec08bb151b1e4b88acba16ffca7d4bd9","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_da75614691b746afb8c899228550519a","object":"Rate","created_at":"2019-12-11T17:41:28Z","updated_at":"2019-12-11T17:41:28Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.85","currency":"USD","retail_rate":"6.85","retail_currency":"USD","list_rate":"6.85","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ec08bb151b1e4b88acba16ffca7d4bd9","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_d108ba7596d0438a874a021dfef0b587","object":"Address","created_at":"2019-12-11T17:41:26Z","updated_at":"2019-12-11T17:41:26Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_e52669fb433b47c6bb69aa31935f39a9","object":"Address","created_at":"2019-12-11T17:41:27Z","updated_at":"2019-12-11T17:41:27Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_d108ba7596d0438a874a021dfef0b587","object":"Address","created_at":"2019-12-11T17:41:26Z","updated_at":"2019-12-11T17:41:26Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_ec08bb151b1e4b88acba16ffca7d4bd9","object":"Shipment"}'
  recorded_at: Wed, 11 Dec 2019 17:41:28 GMT
[...]
